<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zq.spshot.data.mapper.StatisticalDao">

    <select id="getTodayNewUser" resultType="long">
        select count(*) from vt_user where to_days(registime)=to_days(now()) and isdel='0'
    </select>

    <select id="getTotalUser" resultType="long">
        select count(*) from vt_user where isdel='0'
    </select>

    <select id="getThisWeekNewUser" resultType="long">
        select count(*) from vt_user where yearweek(registime)=yearweek(now()) and isdel='0'
    </select>

    <select id="getThisMonthNewUser" resultType="long">
        select count(*) from vt_user where year(registime)=year(now()) and month(registime)=month(now()) and isdel='0'
    </select>

    <select id="getTodayIssureNumber" resultType="long">
        select count(*) from vt_issure where to_days(createtime)=to_days(now()) and isdel='0'
    </select>

    <select id="getTodayPartNumber" resultType="long">
        select count(*) from vt_part where to_days(parttime)=to_days(now()) and isdel='0'
    </select>

    <select id="getThisWeekIssureNumber" resultType="long">
        select count(*) from vt_issure where yearweek(createtime)=yearweek(now()) and isdel='0'
    </select>

    <select id="getThisWeekPartNumber" resultType="long">
        select count(*) from vt_part where yearweek(parttime)=yearweek(now()) and isdel='0'
    </select>

    <select id="getThisMonthIssureNumber" resultType="long">
        select count(*) from vt_issure where year(createtime)=year(now()) and month(createtime)=month(now()) and isdel='0'
    </select>

    <select id="getThisMonthPartNumber" resultType="long">
        select count(*) from vt_part where year(parttime)=year(now()) and month(parttime)=month(now()) and isdel='0'
    </select>

    <select id="getTodayFeedBackNumber" resultType="long">
        select count(*) from vt_feedback where to_days(createtime)=to_days(now()) and isdel='0'
    </select>

    <select id="getTodayDealNumber" resultType="long">
        select count(*) from vt_deal where to_days(dealtime)=to_days(now()) and isdel='0'
    </select>

    <select id="getThisWeekFeedBackNumber" resultType="long">
        select count(*) from vt_feedback where yearweek(createtime)=yearweek(now()) and isdel='0'
    </select>

    <select id="getThisWeekDealNumber" resultType="long">
        select count(*) from vt_deal where yearweek(dealtime)=yearweek(now()) and isdel='0'
    </select>

    <select id="getThisMonthFeedBackNumber" resultType="long">
        select count(*) from vt_feedback where year(createtime)=year(now()) and month(createtime)=month(now()) and isdel='0'
    </select>

    <select id="getThisMonthDealNumber" resultType="long">
        select count(*) from vt_deal where year(dealtime)=year(now()) and month(dealtime)=month(now()) and isdel='0'
    </select>

</mapper>
